body {
  /* margin: 0; */
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Roboto';
}

/* header */
header {
  height: 20vh;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #d1e4ea;
  z-index: 99;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.face-image {
  width: 20vh;
  height: 20vh;
}

h3 {
  margin-left: 2%;
  font-size: 2em;
}

.rotate:hover {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}

.nav-container {
  display: flex;
}

.nav-choice {
  padding-left: 7px;
  padding-right: 7px;
  font-size: 1.25em;
  position: relative;
  color: #d1e4ea;
}

.nav-choice:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5f9ea0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.nav-choice:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-choice:hover {
  color: #fff;
}


/* main */
.welcome-container {
  height: 80vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.welcome-message {
  width: 100%;
  position: absolute;
  font-size: 2rem;
}

/* project area */
.project-container {
  width: 100%;
  background-color: snow;
  color: black;
  display: flex;
  flex-direction: column;
}

.project-section {
  display: flex;
  flex-direction: column;
}

.project-row {
  display: flex;
  justify-content: space-around;
}

img {
  width: 100px;
  height: 100px;
}


/* about me area */
.me-container {
  width: 100%;
  background-color: #5f9ea0;
  display: flex;
}

.about-me-section,
.resume-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* footer */
footer {
  height: 50px;
  background-color: black;
}