body {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

/* header */
header {
  height: 10vh;
  margin: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  background-color: rgb(0,0,0,0.8);
}

.nav-container {
  display: flex;
  margin-left: 25%;
}

.nav-container > p {
  padding-left: 7px;
  padding-right: 7px;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}


.welcome-container {
  height: 100%;
  width: 100%;
  min-width: 800px;
  min-height: 700px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.project-container {
  min-width: 800px;
  min-height: 700px;
  background-color:cadetblue;
}

.about-me-container {
  min-width: 800px;
  min-height: 700px;
  background-color:snow;
}

/* footer */
footer {
  height: 50px;
  background-color:slategrey;
}
